name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Security audit
        run: npm audit --audit-level=high

      - name: Build Docker image
        run: docker build -t ${{ vast1uuu }}/invoicer:latest .

      - name: Push Docker image
        run: |
          echo ${{ Wednesday123123 }} | docker login -u ${{ vast1uuu }} --password-stdin
          docker push ${{ vast1uuu }}/invoicer:latest
